<h1>Editing alfresco</h1>

<% form_for(@alfresco) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @alfresco %> |
<%= link_to 'Back', alfrescos_path %>